.candidates {
    color: purple;
}
.candidate-data {
    text-transform: capitalize;
}
.mission{
    display: none;
}
.visible {
    display: inline-block;
}
.data {
    color: brown;
}

img {
    width: 40%;
    height: auto;
}

.centered {
    text-align: center;
}

.crew {
    color: #3c79b8;
}